@import 'node_modules/modern-normalize/modern-normalize.css';
@import url(https://fonts.bunny.net/css?family=abeezee:400);

:root{
    font-family: 'ABeeZee', sans-serif;
    --left-background: url('/pics/benjamin-voros-U-Kty6HxcQc-unsplash.jpg');
    --logo-background: url('/pics/odin-lined.png');
    width: auto;
}
 body{
    display: flex;
    width: auto;
 }

.img-background{
    display: flex;
    flex-direction: column-reverse; 
    background: var(--logo-background), var(--left-background);
    background-color: black, none;
    background-size: 30% auto, cover;
    background-position: center 20%;
    background-repeat: no-repeat, no-repeat; 
    color: white;
}



.text-container{
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
}

div > p {
    margin: 0;
}

ul{
    list-style: none;
}

